.btn--default{
  background-color: $default;
}
.btn--success{
  background-color: $success;
}
.btn--error{
  background-color: $error;
}
.btn--warning{
  background-color: $warning;
}
.btn--info{
  background-color: $info;
}
.theme__colors{

}
