[class^="btn--"]{
      @include border-radius;
      border: none;
      height: 50px;
      width: 100%;
      margin: 15px 0;
      color: white;
      font-size: $font-xsm;
      font-weight: 700;
      text-transform: uppercase;
      font: sans-serif;
      @media (min-width: 700px){
        width: initial;
        padding: 5px 50px;
      }
}

.theme__colors{
  &.btn--{
    &default{
      background-color: $default;
    }
    &success{
      background-color: $success;
    }
    &error{
      background-color: $error;
    }
    &warning{
      background-color: $warning;
    }
    &info{
      background-color: $info;
    }
  }
}
