
.nav__item{
  margin: 10px;
  @include mq{
  display: inline-block;

}
}
.nav__item a {
  display: block;
  padding: 15px;
  color: black;

    text-align: center;
  text-decoration: none;
  border-radius: 5px;
  @include mq{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-left: auto;
    display: inline-block;
  }
}

.nav__item a:hover{
  color: white;
  background-color: map-get($colormap, teal)
}
